*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@media (max-width: 425px) {
  /* .whatsapp_widget_icon {
  margin-right: 40px !important;
} */
.whatsapp-widget-wrapper {
  max-width: 100% !important;
  overflow-x: hidden !important;
}
}

.rcw-conversation-container {
  max-width: 100% !important;
  width: 100% !important;
}