.btn_text {
   background: linear-gradient(90deg, #007bff, #6610f2);
  color: white;
  border: none;
  border-radius: 30px;
  padding: 10px 22px;
  font-weight: 600;
  transition: all 0.3s ease;
  cursor: pointer;
}



