
.form-control {
  border: 1px solid #dee2e6 !important;          
  border-radius: 0.375rem;                 
  background-color: #f8f9fa;      
  box-shadow: none !important;
  transition: border-color 0.3s ease, background-color 0.3s ease;
}
.icon-box {
  text-align: center;
  line-height: 2;
  border-radius: 10px;
}


