.testi-container {
  padding: 40px 0;
}

/* card */
.testi-card {
  background: #fff;
  padding: 22px;
  border-radius: 12px;
  box-shadow: 0 6px 24px rgba(0, 0, 0, 0.08);
  margin: 10px;
  min-height: 180px;
}

.quote {
  font-style: italic;
  margin-bottom: 14px;
  color: #374151;
}

.name {
  font-weight: 700;
  color: #111827;
}

.role {
  color: #6b7280;
  font-size: 14px;
}

/* dots */
.react-multi-carousel-dot-list {
  bottom: -2px !important;
}

.react-multi-carousel-dot button {
  width: 10px;
  height: 10px;
  background: #fff;
  border-color: #6b728071;
}

.react-multi-carousel-dot--active button {
  background: #0d6efd;
}

/* arrows */
.react-multiple-carousel__arrow--left {
  left: 0px !important;
}
.react-multiple-carousel__arrow--right {
  right: 0px !important;
}
.react-multiple-carousel__arrow{
    background-color: #0d6efd;
    min-width: 30px;
    min-height: 30px;
}
.react-multiple-carousel__arrow:hover{
    background-color: #0d6efd;
}
.react-multiple-carousel__arrow::before {
    font-size: 14px;
}
/* hide arrows on mobile */
@media (max-width: 767px) {
  .react-multiple-carousel__arrow {
    display: none !important;
  }

}
