.carousel-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-slide {
  position: relative;
  height: 100vh;
}

.slide-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
}

.slide-content {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  top: 40%;
  transform: translateY(-50%);
  animation: fadeSlideUp 1s ease forwards;
  animation-delay: 0.5s;
}
@keyframes fadeSlideUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.slide-content h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}

.slide-content p {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.slide-content button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #673ab7;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 700;
}
@media (max-width: 425px){
  /* .slide-content {
    top: 30%;
  } */
  .slide-content h2 {
    font-size: 1.5rem;
  }
  .slide-content p {
    font-size: 1.3rem;
  }
  /* .carousel-slide {
  height: 70vh;
} */

}
.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); /* black with 40% opacity */
  z-index: 1;
}

