.box_cont {
  overflow: hidden;
  height: 80vh;
}
.head {
  color: #ffffff;
  font-weight: 700;
}
.para {
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
}
@media (max-width: 425px){
  .img_res {
    width: 300px;
  }
  .cont_center {
    text-align: center;
  }
  .para{
    font-size: 22px;
  }
  .box_cont{
    height: 100vh;
  }
}